* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 320px),
  (min-width: 375px),
  (min-width: 425px) {
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifs;
    font-weight: 400;
    font-size: 2.5vmax;
    line-height: 1.7;
    background-color: #1d3557;
  }
  #main-doc {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 60%;
    height: 60%;
  }
  .main-section {
    background-color: #457b9d;
    margin: 2vmax;
    padding: 1.5vmax;
    text-align: justify;
    color: #f1faee;
  }
  .main-section header {
    color: #1d3557;
    font-size: 3.5vmax;
    font-weight: 700;
    text-align: left;
  }
  .main-section ul {
    padding-left: 5vmax;
  }
  .main-section code {
    background-color: #a8dadc;
    color: #1d3557;
    display: block;
    padding: 1vmax;
    border-radius: 1vmax;
  }

  /* navbar */
  #navbar {
    background-color: brown;
    text-align: center;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 38%;
  }
  #navbar header {
    color: #91121d;
    font-size: 3.5vmax;
    font-weight: 800;
    background-color: #a8dadc;
    padding: 2vmax;
  }
  #navbar ul {
    height: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 5px solid #1d3557;
  }
  #navbar ul li {
    border-top: 1px solid #1d3557;
    list-style: none;
    width: 100%;
  }
  #navbar ul li a {
    text-decoration: none;
    color: #f1faee;
    display: block;
    padding: 1.3vmax;
  }
  #navbar ul li a:hover {
    text-decoration: none;
    color: #457b9d;
    background-color: #f1faee;
    display: block;
    cursor: pointer;
    padding: 1.3vmax;
  }
  #navbar ul li a:focus {
    text-decoration: none;
    color: #457b9d;
    background-color: #f1faee;
    display: block;
    cursor: pointer;
    padding: 1.3vmax;
  }
}
@media only screen and (min-width: 768px),
  (min-width: 1024px),
  (min-width: 1440px) {
  body {
    font-size: 1.5vmax;
    line-height: 1.7;
  }
  #main-doc {
    margin-top: initial;
    margin-left: 30%;
  }
  /* navbar */
  #navbar {
    left: 0;
    width: 30%;
    height: 100%;
  }
  #navbar header {
    font-size: 2.5vmax;
    padding: 1vmax;
  }
  #navbar ul {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
